<form name = 'form' method = 'post' action = "/add">
  <br>First name: <input type="text" name='first_name'/></br>
  <br>Last name: <input type="text" name='last_name'/></br>
  <br>Phone number: <input type="text" name='phone'/></br>
  <button type = 'submit'>Add</button>

</form>
